.Button {
    border: none;
    border-radius: 50px;
    background-color: #AE0000;
    padding: 10px 20px 10px 20px;
    margin-left: 10px;
}

.Button:hover {
    background-color: #DA0303;
    cursor: pointer;
}

.Button a {
    color: white;
    font-family: 'roboto';
    font-size: 15px;
}

.Button a:hover {
    color: white;
    font-family: 'roboto';
    font-size: 15px;
}